
<mat-form-field class="col-md-3">
  <input matInput type="text" [(ngModel)]="generateOptions.comment" placeholder="Comment"/>
</mat-form-field>
<mat-form-field class="col-md-3">
  <input matInput type="number" [(ngModel)]="generateOptions.points" placeholder="Point value"/>
</mat-form-field>
<mat-form-field class="col-md-3">
    <input matInput type="number" [(ngModel)]="generateOptions.quantity" placeholder="Quantity"/>
</mat-form-field>

<button mat-raised-button color="primary" (click)="generateCode()">
  Generate
</button>

<mat-expansion-panel *ngFor="let codeGroup of groupedCodes"
                     (opened)="codeGroup.showCodes = true" (closed)="codeGroup.showCodes = false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{codeGroup.comment}}</mat-panel-title>
    <mat-panel-description>
      {{codeGroup.points}} points each
      <br/>
      {{codeGroup.codes.length}} codes generated
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="row" *ngIf="codeGroup.showCodes">
    <div *ngFor="let code of codeGroup.codes" class="col-md-3 col-lg-2 col-xl-1">
      <ngx-qrcode [qrc-value]="code.id" qrc-element-type="canvas"
                  [matTooltip]="getTooltipInfo(code)"
      ></ngx-qrcode>
    </div>
  </div>

</mat-expansion-panel>
