<h1 mat-dialog-title>Edit a lecture</h1>
<div mat-dialog-content class="form-container">
    <mat-form-field>
      <input matInput [(ngModel)]="data.title" placeholder="Title">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput [(ngModel)]="data.description" placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="data.speaker" placeholder="Speaker">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="data.date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [(ngModel)]="data.date" ngDefaultControl></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="data.language" placeholder="Language">
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="data.room" placeholder="Room">
    </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
