<div class="container">
  <mat-card class="dashboard-header">
    <h3>Lecture statistics</h3>
  </mat-card>
  <div class="row">
    <app-counter-card label="Lectures" [count]="lectureCount"
                      class="col-sm-6 col-md-4"></app-counter-card>
    <app-counter-card label="Average rating" [count]="averageRating" class="col-sm-6 col-md-4"></app-counter-card>
    <app-counter-card label="Ratings collected" [count]="ratingsCollected" class="col-sm-6 col-md-4"></app-counter-card>
    <app-rating-chart class="col-sm-12"></app-rating-chart>
  </div>

  <mat-card class="dashboard-header">
    <h3>Seek Find Input statistics</h3>
  </mat-card>
  <div class="row">
    <app-counter-card label="Codes total" [count]="codesCount"
                      class="col-sm-6 col-md-4"></app-counter-card>
    <app-counter-card label="Codes used" [count]="usedCodesCount"
                      class="col-sm-6 col-md-4"></app-counter-card>
    <app-counter-card label="Codes not used" [count]="notUsedCodesCount"
                      class="col-sm-6 col-md-4"></app-counter-card>

  </div>

</div>
