<h1 mat-dialog-title align="center">Create new organizer</h1>
<div mat-dialog-content class="form-container" align="center">
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" placeholder="Name">
  </mat-form-field>
 <br />
  <mat-form-field>
    <input matInput [(ngModel)]="data.surname" placeholder="Surname">
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-select [(ngModel)]="data.team" placeholder="Team">
      <mat-option *ngFor="let team of teams" [value]="team.value">
        {{team.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput [(ngModel)]="data.tel" placeholder="Phone number">
  </mat-form-field>

</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
