<div class="login-form-section">
  <ngx-auth-firebaseui
    [guestEnabled]="false"
    [providers]="[]"
    (onSuccess)="successLogin()"
    class="login-form">
  </ngx-auth-firebaseui>
  <button mat-raised-button (click)="auth.login()" color="primary" class="google-button">Login with Google</button>
</div>


