.login-form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  margin: 0;
}

.google-button {
  margin-top: 10px;
  font-weight: bold;
}
