@import '../../app.component.scss';

.lecture-card {
  max-width: 400px;
  margin-bottom: 15px;
}

.new-lecture-button {
  background: $sfi-purple;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.lecture-card-content {
  height: 90px;
}

.lecture-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.agenda-header {
  background: $sfi-purple;
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.lecture-card-header {
  height: 100px;
}

.action-button {
  margin-right: 5px;

  &:hover {
    filter: brightness(0.75);
  }
}
