<div class="container">
  <mat-card class="agenda-header">
    <h2>Agenda SFI 2020</h2>
  </mat-card>
  <div>
    <button mat-fab color="primary" (click)="openForm()" class="new-lecture-button" matTooltip="Add new item">
      <i class="material-icons">
        add
      </i>
    </button>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let lecture of lectures">
      <mat-card class="lecture-card">
        <mat-card-header class="lecture-card-header">
          <mat-card-title>{{lecture.title}}</mat-card-title>
          <mat-card-subtitle>{{lecture.speaker}}, {{lecture.date.toDate() | date}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://sfi.pl/wp-content/uploads/2019/02/sfi-15-motyw.png" alt="SFI Photo">
        <mat-card-content class="lecture-card-content">
          <p>
            {{lecture.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-mini-fab class="action-button" color="primary"
                  (click)="openEditForm(lecture)" matTooltip="Edit">
            <i class="material-icons">
              edit
            </i>
          </button>
          <button mat-mini-fab class="action-button" color="warn"
                  (click)="deleteLecture($event, lecture)" matTooltip="Delete">
            <i class="material-icons">
              delete
            </i>
          </button>
          <button mat-mini-fab class="action-button"
                  (click)="openFeedbackForm(lecture)" matTooltip="Open feedback form">
            <mat-icon>favorite</mat-icon>
          </button>
          <span class="remaining-space"></span>
          <button mat-mini-fab color="basic" matTooltip="Add to Google Calendar"
                  class="float-right action-button"
                  (click)="auth.insertEvent(lecture.date, lecture.title, lecture.description)">
            <i class="material-icons">
              calendar_today
            </i>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
