@import '../app.component.scss';
.organizers-header {
  background: $sfi-purple;
  color: white;
  text-align: center;
  margin-bottom: 25px;
}
.new-organizer-button {
  background: $sfi-purple;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}
table {
  width: 100%;
}
