<div class="container">
  <mat-card class="organizers-header">
    <h2>Organizers of SFI</h2>
  </mat-card>
  <div>
    <button mat-fab color="primary" (click)="openForm()" class="new-organizer-button" matTooltip="Add new item">
      <i class="material-icons">
        add
      </i>
    </button>
  </div>
  <div class="row">
    <table mat-table [dataSource]="organizers">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Surname</th>
        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
      </ng-container>
      <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef> Team</th>
        <td mat-cell *matCellDef="let element"> {{element.team}} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone number</th>
        <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'surname', 'team', 'phone']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'surname', 'team', 'phone'];"></tr>
    </table>
  </div>
</div>
