<div class="app-container" [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name"><b>{{title}}</b></h1>

    <span style="flex: 1 1 auto;"></span>

    <mat-menu #userMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="auth.signOut()">Log out</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="auth.user$ | async as user">
      <mat-icon>account_circle</mat-icon>
        {{ user.displayName }}
    </button>


  </mat-toolbar>


  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? 'false' : 'true'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 [style.width.vw]="mobileQuery.matches ? 75 : 15" #sidenav>
      <mat-nav-list class="app-nav-list">
        <a mat-list-item
           *ngFor="let item of menuItems"
           [routerLink]="[item.href]"
           (click)="mobileQuery.matches ? sidenav.toggle() : {};"
           class="app-nav-item">
          <mat-icon>{{item.icon}}</mat-icon>
          &nbsp;
          {{item.name}}
        </a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content [style.padding]="mobileQuery.matches ? '10px' : '40px'">
      <router-outlet></router-outlet>
      <div style="height: 7vh;"></div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
