@import "../../app.component";

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar {
  background-color: $sfi-purple !important;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.app-sidenav-container {
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  flex: 1 0 auto;
}

.app-nav-list .app-nav-item .mat-nav-list .mat-list-item .mat-list-item-content {
  padding-right: 0;
  padding-left: 0;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: center;
  color: #444444;
  font-size: small;
}
