@import "../../app.component.scss";

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.form-container > * {
  width: 100%;
  margin: 20px;
}

.dialog-title {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dialog-actions {
  text-align: center;
  align-items: center;
  justify-content: center;
}
