<h1 mat-dialog-title class="dialog-title">Share your satisfaction with us!</h1>
<div mat-dialog-content class="form-container">
  <ngx-emoji set='facebook' [emoji]="{ id: 'fearful'}" size="50" (click)="setRate(1)"></ngx-emoji> 
  <ngx-emoji set='facebook' [emoji]="{ id: 'confused'}" size="50" (click)="setRate(2)"></ngx-emoji>  
  <ngx-emoji set='facebook' [emoji]="{ id: 'thinking_face'}" size="50" (click)="setRate(3)"></ngx-emoji>  
  <ngx-emoji set='facebook' [emoji]="{ id: 'blush'}" size="50" (click)="setRate(4)"></ngx-emoji>  
  <ngx-emoji set='facebook' [emoji]="{ id: 'heart_eyes'}" size="50" (click)="setRate(5)"></ngx-emoji>  
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  <h1></h1>
</div>