@import "~@angular/material/theming";
@include mat-core();

$sfi-purple-palette: (
  50: #201737,
  100: #201737,
  200: #201737,
  300: #201737,
  400: #201737,
  500: #201737,
  600: #201737,
  700: #201737,
  800: #201737,
  900: #201737,
  A100: #201737,
  A200: #201737,
  A400: #201737,
  A700: #201737,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$sfi-app-primary: mat-palette($sfi-purple-palette);
$sfi-app-accent: mat-palette($mat-pink);
$sfi-app-warn: mat-palette($mat-red);

$sfi-app-theme: mat-light-theme($sfi-app-primary, $sfi-app-accent, $sfi-app-warn);

@include angular-material-theme($sfi-app-theme);

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #e5e5e5;
}
